
@font-face {
  font-family: MADEMirage;
  src: url(../fonts/mirage_regular.woff);
}

@font-face {
  font-family: MADEMirageBold;
  src: url(../fonts/mirage_medium.woff);
}

@font-face {
  font-family: MaisonNeue;
  src: url(../fonts/maison_light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$darkcolor1: #131d2f;
$darkcolor2: #354052;
$darkcolor3: #083546;
$lightcolor: #ffffff;
$palegreen: #71816D;
$browncolor1: #e8e5cc;
$browncolor2: #e0d8d2;
$browncolor3: #6b4b3e;
$creamcolor: #e8e5cc;
$greycolor: #f2f2f2;
$caramel: #BA2B2B;
$primaryfont: MaisonNeue, sans-serif;
$secondaryfont: MADEMirage, serif;

body {
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
  background-color: $greycolor;
  color: $darkcolor2;
}

a {
  text-decoration: none;
  color: $darkcolor2;
}

.tint--dark {
  color: $darkcolor2;
}

.tint--caramel {
  color: $caramel;
}

ul {
  list-style: none;
}

a, p {
  font-family: $primaryfont;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: $secondaryfont;
  font-weight: 400;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

.heading--1 {
  font-size: 2.3rem;
  line-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 27px 24px 21px 24px;

  .header--logo {
    a {
      font-family: $secondaryfont;
      font-size: 1.2rem;
      line-height: 1rem;
      font-weight: 500;
    }
  }

  .header--nav,
  .header--callToAction {
    display: none;
  }
  
  .header--mobile_menu svg {
    position: relative;
    width: 35px;
    z-index: 100;
  }

}

.header--mobile--nav {
  position: fixed;
  background: $greycolor;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  clip-path: circle(100px at 90% -20%);
  transition: all 1s ease-out;

  .header--top {
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 50px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;

    a {
      margin: 1em 0;
    }
  }
}

.header--mobile--nav.open {
  clip-path: circle(3000px at 90% -20%);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $lightcolor;
  height: 625px;
  text-align: justify;
  padding: 1em;
  background: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero--content {
    position: absolute;
    bottom: 3.8em;
    right: 1.5em;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    h1 {
      margin-bottom: 15px;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
  }

  .hero--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
    padding: 0 1.5em;
    width: 250px;
    height: 54px;
    background-color: $darkcolor3;
    color: $lightcolor;
    border: none;
    font-size: 0.9rem;
  }
}

.showcase {
  background-color: $browncolor2;
  padding: 2em;
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .showcase--img {
    width: 300px;
    margin-top: -140px;
  }

  .showcase--content {
    margin: 2em 0;
    position: relative;

    h2 {
      color: $darkcolor1;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 380px;
      margin: 1.5em 0;
    }

    .showcase--content--picker {
      margin: 2.5em 0;
    }

    .showcase--btn {
      background-color: $darkcolor3;
      width: 180px;
      height: 50px;
      color: $lightcolor;
    }

    .showcase--content--price {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.3rem;
      font-family: $primaryfont;
      font-weight: 400;
    }
  }
}

.products {
  background-color: $browncolor1;
  padding: 5em 2em;

  .products--offset {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 5px;
    text-align: center;
  }
  .product--name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .products--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .product--card {
      width: 250px;
      margin: 1em;

      .product--card--img {
        width: 100%;
      }

      .product--price {
        color: $caramel;
        font-size: 0.9rem;
        font-family: $primaryfont;
        font-weight: 500;
      }

      .product--name {
        p {
          font-family: MADEMirageBold;
          font-size: 1.2rem;
          line-height: 2rem;
          font-weight: 400;
        }
      }
    }
  }
}

.stance {

  .stance--stance {
    padding: 3em;

    h2 {
      text-align: center;
      margin-bottom: 1em;
    }

    .stance--stance-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .stance--grid {
    margin: 2em 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4em;

    .stance--single {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      small {
        font-size: 0.9rem;
        font-family: $primaryfont;
        font-weight: 300;
        margin: 0.5em 0;
      }
    }
  }

  .stance--content {
    padding: 3em;
    background-color: $browncolor3;
    color: $lightcolor;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: $secondaryfont;
      font-size: 1rem;
      line-height: 2.2rem;
      text-align: center;
      color: $creamcolor;
      max-width: 567px;
    }
  }
}

.stories {
  padding: 4em 0;
  color: $darkcolor1;

  h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }

  .stories--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h3 {
      font-size: 2rem;
      line-height: 2.5rem;
    }

  }

  .stories--bg {
    overflow-x: hidden;
    background-color: $palegreen;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    p {
      font-size: 1rem;
      font-weight: 500;
      margin: 3em 0;
    }

    .tint--white {
      color: $lightcolor;
    }

    .tint--cream {
      color: $creamcolor;
    }

    .stories--content {
      overflow-x: hidden;
      width: 100%;    

      .stories--content--img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.gram {
  padding: 1em 2em;
  h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }

  .gram--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .gram--img {
      width: 250px;
      margin: 1em;
    }
  }
}

.footer--bg {
  background-color: $darkcolor1;
}

.footer {
  padding: 4em 2em;
  background-color: $darkcolor1;
  color: $lightcolor;

  .footer--logo {
    margin-bottom: 1em;
    a {
      font-family: $secondaryfont;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 2.5rem;
    }
  }

  a {
    color: $lightcolor
  }

  h4 {
    font-family: $primaryfont;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1em 0;
  }

  .footer--grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .footer--col {
      margin: 1em 0;
      margin-right: 2em;

      p {
        line-height: 2rem;
      }

      small {
        display: block;
        font-family: $primaryfont;
        margin: 3em 0;
      }

      li {
        font-family: $primaryfont;

        a {
          font-size: 0.8rem;
          line-height: 1.8rem;
        }
        
      }
    }
  }
}

@media  only screen and (max-width: 350px) {

    .hero {
      .hero--content {
        max-width: 280px;
        right: 1em;
      }
    }
}

@media screen and (min-width: 650px) {

  .hero {
    height: 700px;
    .hero--content {
      max-width: 400px;
      right: 60px;

      p {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }

  .showcase {
    margin: 9em auto 0 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;

    .showcase--content {
      width: 50%;
    }
  }

  .stance {
    display: flex;
    justify-content: start;

    .stance--stance {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-align: left;
      }
    }

    .stance--grid {
      column-gap: 5em;
    }

    .stance--content {
      width: 50%;
    }
  }

  .stories {

    .stories--bg {
      max-width: 1200px;
      flex-direction: row;
      padding: 0 4em;
      margin: 0 auto;
      height: 400px;
      overflow: hidden;
  
      .stories--title {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
  
      .stories--content {
        height: 100%;
        width: 50%;
        
        .stories--content--img {
          width: 350px;
        }
        
      }
    }
  }

  .footer {
    .footer--logo {
      a {
        font-size: 2.8rem;
      }
    }
    padding: 6em;
    .footer--grid {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1024px) {
  .heading--1 {
    font-size: 4rem;
    line-height: 3rem;
  }

  .header {
    .header--nav,
  .header--callToAction {
    display: flex;
  }

  .header--nav, .header--callToAction {
    a {
      margin: 0 12px;
      font-size: 0.88rem;
      line-height: 1.5rem;
    }
  }

  .header--mobile_menu {
    display: none;
  }
  
  }

  .header--mobile--nav {
    display: none;
  }

  .hero {
    .hero--content {
      max-width: 550px;
      right: 100px;

    }
  }

  .showcase {
    padding: 2em 4em;

    .showcase--img {
      width: 400px;
    }
  }

  .products {
    padding: 5em 4em;
    .products--grid {
      .product--card {
        width: 280px;
      }
    }
  }

  .stance {
    .stance--content {
      p {
        max-width: 500px;
        font-size: 1.3rem;
        line-height: 2.5rem;
      }
    }
  }

  .gram {
    padding: 5em 4em;
    .gram--grid {
      .gram--img {
        width: 280px;
      }
    }
  }

  .stories {
    .stories--bg {
      padding: 0 6em;
      .stories--content {
        .stories--content--img {
          width: 400px;
        }
      }
    }
  }

}

@media screen and (min-width: 1280px) {

  .heading--1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }

  .hero {
    .hero--content {
      max-width: 590px;
      right: 250px;

      p {
        font-size: 1.25rem;
      }
    }

    .hero--btn {
      width: 280px;
      height: 60px;
      margin: 2em 0;
    }
  }

  .stories {
    .stories--bg {
      height: 400px;

      .stories--content {
        .stories--content--img {
          width: 500px;
        }
      }
    }
  }

  .showcase {
    margin: 13em auto 15em auto;
    padding: 2em 5em;

    .showcase--content {

      .showcase--content--price {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.25rem;
    }

    .showcase--img {
      width: 450px;
    }
  }

  .products {
    padding: 5em 2em;
    .products--offset {
      margin-top: -215px;
    }

    .products--grid {
      .product--card {
        width: 250px;
      }
    }
  }

  .stance {
    .stance--stance {
      padding: 5em 3em;
      h2 {
        line-height: 4rem;
      }
    }

    .stance--content {
      padding: 5em 3em;

      p {
        font-size: 1.3rem;
        line-height: 2.5rem;
      }
    }
  }

  .stories {

    .stories--bg {
      padding: 0 6em;
      height: 512px;
    }

    .stories--title {

      h3 {
        font-size: 3.1rem;
        line-height: 4rem;
      }
    }
  }

  .gram {
    padding: 6em 2em;
    .gram--grid {
      .gram--img {
        width: 250px;
      }
    }
  }

  .footer {
    padding: 6em 2em;
    margin: 0 auto;
    max-width: 1300px;

    .footer--grid {
      .footer--col {
        margin-right: 80px;
        p {
          width: 490px;
        }
      }
    }
  }

}

@media screen and (min-width: 1400px) {

  .hero {
    .hero--content {
      max-width: 600px;
    }
  }
  
  .products {
    padding: 5em 2em;
    .products--grid {
      .product--card {
        width: 300px;
      }
    }
  }

  .stance {
    height: 900px;
  }

  .gram {
    padding: 5em 2em;
    .gram--grid {
      .gram--img {
        width: 300px;
      }
    }
  }

  .footer {
    .footer--grid {
      .footer--col {
        margin-right: 100px;
      }
    }
  }

}
  

  